<!-- Adds a fixed header bar above some content. IONIC-->
<ion-view view-title="Titre Aplication" >

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left" title="test">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            <button class="button" ui-sref="createComment">New</button>
        </ion-nav-buttons>


    </ion-nav-bar>

    <ion-content>
        <div class="list card " ng-repeat="item in items">

            <div class="item item-body">
                <a class="item item-thumbnail-left" href="#">
                    <img src="cover.jpg">
                </a>
                <p>
                    {{item.content}}
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
    </ion-content>

</ion-view>


<!--<ion-content>
        <div class="buttons">
            <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete;"></button>
        </div>

        <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="item in items | orderBy: '-createdAt'"
                      item="item"
                      href="#/comment/edit/{{item.objectId}}/{{item.content}}">
                <div>
                    <p>{{item.content}}<p>
                    &lt;!&ndash;{{item.createdAt}}&ndash;&gt;
                </div>

                <ion-delete-button class="ion-minus-circled"
                                   ng-click="onItemDelete(item)">
                </ion-delete-button>

            </ion-item>
        </ion-list>

    </ion-content>-->