<ion-header-bar class="bar-energized">
    <div class="buttons">

        <button class="button" ui-sref="slidemenu.comments">Back</button>
        <h1 class="title">LivePic</h1>
    </div>
</ion-header-bar>

<ion-content>
    <div class="list card">

        <div class="item item-body">
            <img src="delorean.jpg">
            <p>
                {{Comment.content}}
            </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
            </a>
        </div>

    </div>
    <div class="card">
        <div class="item item-text-wrap">
            commentary user 1
        </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
            commentary user 2
        </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
            commentary user 3
        </div>
    </div>
</ion-content>
<div class="bar bar-footer bar-energized">
    <div class="title">Post Comment</div>
</div>

