
<ion-side-menus enable-menu-with-back-views="true">
    <!-- To use side menus, add an <ion-side-menus> parent element
     This will encompass all pages that have a side menu,
     and have at least 2 child elements: 1 <ion-side-menu-content> for the center content,
     and one or more <ion-side-menu> directives for each side menu(left/right) that you wish to place.-->

    <ion-side-menu-content>
        <ion-nav-view>
            <!--Content of listview in comments.html-->
        </ion-nav-view>
    </ion-side-menu-content>


    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Left</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>

                <ion-item menu-close href="#/app/search">
                    1
                </ion-item>
                <ion-item menu-close ui-sref="logout">
                    Logout
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    3
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>


